.outerContainer {
    width: 100%;
	background-size: cover;
}

.innerContainer {
    margin: 0 auto;
	padding: 0 50px;
}

.headerContainer {
    margin: 0;
	height: 45px;
}

.headerContainer__appName {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    margin: auto 0;
    margin-right: 50px;
    font-size: 22px;
}

.headerContainer__searchBlock {
    width: 300px;
	height: 35px;
	padding: 7px;
	border-color: #3b50c7;
	outline: none;
	color: #9E9C9C;
    cursor: pointer;
    margin: auto 0;
}

/*
.listRepContainer {}
.listRepContainer__listRep {}
*/

.listRepContainer__listRep_itemContainer {
    width: 19%;
    padding: 10px;
    margin-top: 20px;
}

.repNameContainer {
    margin-bottom: 3px;
}

.repImg {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.repName {
    font-size: 16px;
    margin: auto 0 auto 3px;
}

.repStarsContainer {
    height: 21px;
    margin-top: auto;
}

.repStarsNum {
    font-size: 12px;
    margin: 4px 3px;
}

.lastCommit {
    font-size: 12px;
    margin: 5px 0;
}

.repLink {
    font-size: 12px;
}

.listRepContainer__paginator {
    width: 100%;
}

.listRepContainer__paginator_list {
    margin: 30px 0 20px;
    padding: 0;
}

.paginatorPage {
    list-style: none;
    width: 20px;
    height: 27px;
    padding: 5px;
}
.paginatorPage:hover {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.activePage {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.paginatorPage_num {
    font-size: 13px;
    margin: auto;
}

.footer {
    color: white;
    padding-top: 15px;
    margin: 0 auto;
}

.fontDefault {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.text-decoration_none {
    text-decoration: none;
}

.backgroundColor {
    background-color: #4a82ff;
}

.flex {
	display: flex;
}
.flex-direction_column {
	flex-direction: column;
}
.justify-content_space-between {
    justify-content: space-between;
}
.justify-content_center {
	justify-content: center;
}
.align-items_center {
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
/*
.justify-content_space-around {
	justify-content: space-around;
}
.justify-content_start {
	justify-content: flex-start;
}
.align-items_start {
	align-items: flex-start;
}
.align-items_end {
	align-items: flex-end;
}
.flex-grow_1 {
	flex-grow: 1;
}
*/

.border_1px {
	border: 1px solid;
}

.border-radius_4px {
	border-radius: 4px;
}

.border-radius_12px {
	border-radius: 12px;
}

.box-sizing {
	box-sizing: border-box;
}