/*.contentContainer__listRep {}*/

.contentContainer__listRep_listTitle {
    width: 100%;
    font-size: 19px;
    text-align: center;
    margin: 15px auto 0;
}

.contentContainer__listRep_itemContainer {
    width: 19%;
    padding: 10px;
    margin: 20px auto;
}

.repNameContainer {
    margin-bottom: 3px;
}

.repImgForList {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-top: 2px;
}

.repNameForList {
    font-size: 16px;
    margin: auto 0 auto 3px;
}

.repStarsContainer {
    height: 21px;
    margin-top: auto;
}

.repStarsNumForList {
    font-size: 12px;
    margin: 4px 3px;
}

.lastCommitForList {
    font-size: 12px;
    margin: 5px 0;
}

.repLink {
    font-size: 12px;
}